<div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="social_footer">
                            <h2>About Dishmize</h2>
                            <p>Our website is a corporation that works on food innovation which aims to
populate the idea of thinking in your diet and how to make a different value
and taste and maximize your profit from your skill in doing new meals and
prepare new food for the world, and help you get more ideas. </p>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="social_footer contactDetails">
                            <h2>Need Help</h2>
                            <ul class="list-unslyled">
                                
                                <!--<li>Phone: <a href="tel:+91 9999 999 999">+91 9999 999 999</a></li>-->
                                <li>Email: <a href="mailto:mail@dishmize.net">mail@dishmize.net</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="social_footer">
                            <h2>Follow Us</h2>
                            <ul class="list-inline socialNet">
                                <li class="fb"><a href="https://www.facebook.com/DishMize-197693270939732/" target="_blank" title="facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li class="ins"><a href="https://www.instagram.com/dishmize.recipes" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a></li>
                                <li class="in"><a href="https://linkedin.com/in/dishmize-recipes-838094167" target="_blank" title="linkedin"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li class="tw"><a href="https://twitter.com/Dishmize" target="_blank" title="twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- End row -->
            </div><!-- End container -->
            <div class="container">
                
                <div class="copyright">
                    <p class="pull-left">Copyright © <span id="spanYear"></span> Dishmize. All rights reserved</p>
                    <ul class="list-inline pull-right">
                        <li><a href="#" title="Privacy Policy">Privacy Policy</a></li>
                        <li><a href="/terms-and-conditions" title="Terms & Conditions">Terms & Conditions</a></li>
                        <li><a href="#" title="FAQ">FAQ</a></li>
                    </ul>
                </div>
            </div>