    <meta charset="utf-8">
    <title>Dishmize | <%= title %></title>
    <meta name="description" content="Recipes Food - Food & Recipes Food Template">
    <meta name="keywords" content="recipes food, recipes , sushi, chinese, italian food">
    <meta name="author" content="themearabia.net">

    <!-- Mobile Specific Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <!-- Main Style -->
    <link rel="stylesheet" href="/public/css/style.css">
    
    <!-- customize CSS Style -->
    <link rel="stylesheet" href="/public/css/customize.css">
    
    <!-- Skins Style -->
    <link rel="stylesheet" href="/public/css/skins/skins.css">
    
    <!-- Responsive Style -->
    <link rel="stylesheet" href="/public/css/responsive.css">

    <!-- Cropper Css -->
    <link rel="stylesheet" href="/public/css/cropper.css">
    
    <!-- Favicons -->
    <link rel="shortcut icon" href="/public/images/favicon.png">

    <!-- Star Rating -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-star-rating/4.0.2/css/star-rating.min.css" />

    <!-- Font Awesome -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

