<div id="header-top">
            <div class="container">
                <div class="row">
                    <nav class="col-md-12">
                        <div class="main-menu-2 pull-left">
                           <ul class="list-inline HeaderInfo">
                                <li><a href="mailto:mail@dishmize.net"><i class="fa fa-envelope" aria-hidden="true"></i> mail@dishmize.net</a></li> 
                            </ul>
                        </div><!-- End main-menu-2 -->

                        <div class="main-menu-2 pull-right">
                           <ul class="list-inline social HeaderInfo">
                               <li class="fb"><a href="https://www.facebook.com/DishMize-197693270939732/" target="_blank" title=""><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li class="ins"><a href="https://www.instagram.com/dishmize.recipes" target="_blank" title=""><i class="fa fa-instagram"></i></a></li>
                                <li class="in"><a href="https://linkedin.com/in/dishmize-recipes-838094167" target="_blank" title=""><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                <li class="tw"><a href="https://twitter.com/Dishmize" target="_blank" title=""><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            </ul>
                        </div><!-- End main-menu-2 -->
                    </nav>
                </div>
            </div> 
        </div><!-- End Header Top -->