<!DOCTYPE html>
<html lang="en">
<head>
      <% include ../partials/head %>    
</head>

<body class="sticky">
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div><!-- End Preload -->
    
    <!-- wrap Page -->
    <div id="wrap">
        
        <!-- Header Top -->
        <% include ../partials/header-top.ejs%>
        <!-- End Header Top -->
        <!-- Header -->
        <header class="style2">
             <% include ../partials/header %>     
        </header><!-- End Header -->
        <!-- SubHeader -->
        <section class="parallax-window" id="short"  data-parallax="scroll" data-image-src="/public/images/login.jpg">
            <div id="sub_header">
                <div class="container" id="sub_content">
                    <div class="row">
                        <div class="col-md-12">
                            <h1>Registration</h1>
                            <div class="bread-crums">
        						<a href="/1">Home</a>
        						<span class="bread-crums-span">&raquo;</span>
        						<span class="current">Registration</span>
        					</div><!-- End bread-crums -->
                        </div>
                    </div><!-- End row -->
                </div><!-- End container -->
            </div>
        </section>
        <!-- End SubHeader -->
        <div class="gray_bg">
            <div class="container margin_60">
                
                <div class="row">
                    <!-- <div class="col-md-6">
                        <div class="login-app">
                            <h3>WITH OUR APP, YOU CAN</h3>
                            <a href="#" target="_blank" class="btn btn-color1 solid small bdr-2 round mr-6">
                				<i class="fa fa-apple"></i> App Store
                			</a>
                            <a href="#" target="_blank" class="btn btn-color1 solid small bdr-2 round mr-6">
                				<i class="fa fa-android"></i> Google Play
                			</a>
                        </div>
                    </div> -->
                    <div class="col-md-6 col-md-offset-3">
                            
    
                        <div class="form-login white_bg">
                            <div class="main_title">
                                <h2 class="nomargin_top">User Registration</h2>
                                <hr class="divider">
                            </div>
                            <div class="col-sm-12">
                                <%- locals.flash %>
                            </div>
                            <form action="/registration" onsubmit="if($('#register').valid()){$('#refresh').show()}" method="POST" id="register" enctype="multipart/form-data">
                              
                                <div class="col-sm-12">

                                    <!-- <div class="form-group">
                                        <div class="add-photo">
                                            <label class="icon-picture gray">
                                                <span>Browse</span>
                                                <input type="file" class="form-control required" name="userPhoto" id="userPhoto" >
                                            </label>
                                        </div>
                                    </div> -->
                                    <div class="form-group">
                                        <div class="add-photo">
                                            <label for="myyyyimage">Choose Image</label>
                                            <input type="file" id="myimage" name="myimage" />
                                            <img id="selectedimage" src="/public/images/unonmous.jpg" style="width:3500px; height:200px;">
                                            <div id="ValidImage" style="color:red"></div>   
                                            

                                            <!--label class="icon-picture gray" for="userPhoto">
                                                <span>Browse</span>
                                                <button type="button" class="Imgremove">X</button>
                                                <img class="PreviewImg" id="avatar" src="" alt="avatar">
                                                <input type="file" class="" name="userPhoto" id="userPhoto" required>
                                                <input type="hidden" class="" name="imageHidden" id="imageHidden">
                                            </label-->
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <input type="text" id="firstname" class="form-control lettersonly required" placeholder="First Name" name="firstname" required  maxlength="15">
                                </div>
                                <div class="form-group col-sm-6">
                                    <input type="text" id="lastname" name="lastname" class="form-control lettersonly required" placeholder="Last Name" required>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group col-sm-6">
                                    <input type="text" id="username" name="username"  class="form-control required" placeholder="Username" required>
                                </div>
                                <div class="form-group col-sm-6">
                                    <input type="email" id="email" name="email" class="form-control required" placeholder="Email Address">
                                </div> 
                                <div class="clearfix"></div>                                              
                                <div class="form-group col-sm-6">
                                    <input type="password" id="password" class="form-control required" name="password" placeholder="Password" required minlength="6" maxlength="15">
                                </div>
                                <div class="form-group col-sm-6">
                                    <input type="password" equalto="#password" id="confirmpassword" name="confirmpassword" class="form-control required" placeholder="Confirm Password">
                                </div>
                                <div class="clearfix"></div>
                                <div class="col-sm-6 text-left">
                                    <button type="submit"  class="btn  btn-primary">Create Account</button>
                                    <i id="refresh" class="fa fa-refresh fa-spin" style="font-size:20px; display:none"></i>
                                    <br>
                                    <div class="form-group">
                                    <input name="check" type="checkbox" id="acceptTerm" class=" form-control required"><label for="acceptTerm"> I Accept the <a href="/terms-and-conditions">Terms of Use</a></label>
                                    <label id="check-error" class="error" for="check" style="display: none;">This field is required.</label>
                                    </div>
                                </div>
                                <div class="col-sm-6 text-right">
                                    <i class="fa fa-question-circle"></i> <a href="/login">Already Have Account</a>
                                </div>
                                
                            </form>
                            <div class="clearfix"></div>
                            <div class="login-social col-sm-12">
                                <div class="separator"><span>Or</span></div>
                                <em>Join with your Social Networks</em>
                                <ul>
                                    <li class="fb-bg"><a href="javascript:void(0)" onclick="Facebooklogin()"><i class="fa fa-facebook"></i> Facebook Login</a></li>
                                   <!--  <li class="twi-bg"><a href="#"><i class="fa fa-twitter"></i> Twitter Login</a></li> -->
                                    <li class="g-bg"><a href="javascript:void(0)" onclick="Googlelogin()" ><i class="fa fa-google-plus"></i> Google+ Login</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div><!-- End container -->
        </div><!-- End white_bg -->
        <!-- newslatter -->
        <section class="newslatter">
            <div class="container">
                <p>Stay Always Updated With us. Sign in with our newsletter</p>
                <div class="subcribe">
                    <input type="text" class="form-control" placeholder="Your Email">
                    <a class="fa fa-paper-plane" href="javascript:void(0);"></a>
                </div>
            </div>
        </section><!-- End newslatter -->
        <!-- Footer -->
        <footer>
            <% include ../partials/footer %>
        </footer><!-- End Footer -->
    </div><!-- End wrap Page -->
    <!-- go-up -->
    <div class="go-up"><i class="fa fa-chevron-up"></i></div>
    <!-- End go-up -->
    
    <!-- COMMON SCRIPTS -->
    <% include ../partials/scripts %>
    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">×</button>
            <h4 class="modal-title">Crop the Image</h4>
          </div>
          <div class="modal-body">
            <div class="img-container">
              <img id="image" src="https://avatars0.githubusercontent.com/u/3456749">
            </div>
          </div>
          <div class="modal-footer">
            <div class="btn-group">
              <button type="button" class="btn btn-primary"  onClick="zoom(0.1)">
                <span class="docs-tooltip">
                  <span class="fa fa-search-plus"></span>
                </span>
              </button>
              <button type="button" class="btn btn-primary" onClick="zoom(-0.1)">
                <span class="docs-tooltip">
                  <span class="fa fa-search-minus"></span>
                </span>
              </button>
            </div>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" id="crop">Crop</button>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
<script type="text/javascript">
    //jQuery.validator.addMethod("lettersonly", function(value, element){
      //  return this.optional(element) || /^[a-z]+$/i.test(value);
    //},'Only alphabets allowed.');
//     $('#register').validate();


//     var cropper;
//     window.addEventListener('DOMContentLoaded', function () {
//       var avatar = document.getElementById('avatar');
//       var image = document.getElementById('image');
//       var input = document.getElementById('userPhoto');
//       var $alert = $('.alert');
//       var $modal = $('#modal');

//       input.addEventListener('change', function (e) {
//         var files = e.target.files;
//         console.log(files);
//         var done = function (url) {
          
//           //input.value = url;
//           input.value = '';
//           image.src = url;
//           $alert.hide();
//           $modal.modal('show');
//         };

//         var reader;
//         var file;
//         var url;

//         if (files && files.length > 0) {
//           file = files[0];

//           if (URL) {
//             done(URL.createObjectURL(file));
//           } else if (FileReader) {
//             reader = new FileReader();
//             reader.onload = function (e) {
//               done(reader.result);
//             };
//             reader.readAsDataURL(file);
//           }
//         }

//       });

//       $modal.on('shown.bs.modal', function () {
//         cropper = new Cropper(image, {
//           dragMode: 'move',
//           aspectRatio: 4 / 5,
//           strict: false,
//           autoCropArea: 0,
//           restore: false,
//           zoomable: true,
//           guides: false,
//           center: true,
//           highlight: false,
//           cropBoxMovable: false,
//           cropBoxResizable: false,
//           toggleDragModeOnDblclick: false,
//           zoomOnWheel:false,
//         });
//       }).on('hidden.bs.modal', function () {
//         cropper.destroy();
//         cropper = null;
//       });

//       document.getElementById('crop').addEventListener('click', function () {
//         var canvas;

//         $modal.modal('hide');

//         if (cropper) {

//             canvas = cropper.getCroppedCanvas({
//             width: 360,
//             height: 460,
//           });

//           $('.add-photo').addClass('AddImg');
//           avatar.src = canvas.toDataURL();
//           imageHidden.value = canvas.toDataURL()
//         } 
//       });
//     });

//     function zoom(z){
//         cropper.zoom(z)
//       }
//       $('.Imgremove').click(function(){
//       $('.PreviewImg').attr('src', '');
//       $('.AddImg').removeClass('AddImg');
//       $('.progress').hide();
//     });
    
// $(document).ready(function(){
//     setTimeout(function() {
//         $('.alert, .alert-success').fadeOut('slow');
//     }, 5000);
// });

$("#myimage").change(function () {
              
              readIMG(this);
           })



function readIMG(input) {
               if (input.files && input.files[0]) {

                   var file = input.files[0];
                   var fileType = file["type"];
                   var ValidImageTypes = ["image/gif", "image/jpeg", "image/png"];
                   if ($.inArray(fileType, ValidImageTypes) < 0) {
                       // invalid file type code goes here.
                       // alert('Choose Image Only Please');
                       $('#selectedimage').attr('src', "/public/images/recipeupload.jpg");
                       var inpp = $('#myimage');
                       $(inpp).val('');
                       $('#ValidImage').html('Choose Image Only Please');
                       return false;
                   }
                   else {
                       $('#ValidImage').html('');
                   }

                   var reader = new FileReader();

                   reader.onload = function (e) {
                       $('#selectedimage').attr('src', e.target.result);
                   }

                   reader.readAsDataURL(input.files[0]);
               }
           }

</script>

