<!DOCTYPE html>
<html lang="en">
<head>
      <% include ../partials/head %>

</head>
<% //section  = data.section %>
<body class="sticky">
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div><!-- End Preload -->
    
    <!-- wrap Page -->
    <div id="wrap">
        
        <!-- Header Top -->
        <% include ../partials/header-top.ejs%>
        <!-- End Header Top -->
        <!-- Header -->
        <header class="style2">
             <% include ../partials/header %>     
        </header><!-- End Header -->
        <!-- SubHeader -->
        <section class="parallax-window" id="short"  data-parallax="scroll" data-image-src="/public/images/mainBanner.jpg">
            <div id="sub_header">
                <div class="container" id="sub_content">
                    <div class="row">
                        <div class="col-md-12">
                            <h1><%= title %></h1>
                            <div class="bread-crums">
        						<a href="/1">Home</a>
        						<span class="bread-crums-span">&raquo;</span>
        						<span class="current"><%= title %></span>
        					</div><!-- End bread-crums -->
                        </div>
                    </div><!-- End row -->
                </div><!-- End container -->
            </div>
        </section>
        <!-- End SubHeader -->
        <section class="white_bg aboutUs margin_60">
            <div class="container">
                <div class="main_title">
                    
                    <h1><%= title %></h1>
                </div>
                <div class="term-condition">
                    <h4 class="clr-blue mt-30"><strong> TERMS OF SERVICE & PRIVACY POLICY</strong></h4>
                    <p>Dishmize and/or Dishmize.net “website” owned by Dishmize Corporation. (“we” “us”) is committed to protecting your privacy while visiting our website; These terms and conditions govern your use of this website; by using this website, you accept these terms and conditions in full.  This Privacy Policy does not apply to information we collect by other means (including offline) or from other sources. You must be at least 18 years of age to use the website. If you are under 18 years old, do not use our website. IF YOU DO NOT ACCEPT AND AGREE WITH THE TERMS AND CONDITIONS OF WEBSITE USE AS UNDER, PLEASE DO NOT PROCEED AND USE THE WEBSITE.</p>

                    <h4 class="clr-blue mt-30"><strong> USAGE </strong></h4>
                    <p>You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity. We collect certain information when you visit our website. The following terms are intended to explain; our policies and procedures regarding the collection, disclosure and use of any information or personal data that you provide to us, or that we collect from you when you visit our website or register as a User or member a.ka. Dishmizer with us: Here we also explain, what we do with the information collected. In order to become a member/Dishmizer and get more information about our services, you must sign-up on the website by providing required information about yourself, For instance- name, phone number, and email address, etc. The validity of the email address is verified before allowing limited/full access.</p>

                    <h4 class="clr-blue mt-30"><strong> INFORMATION COLLECTION </strong></h4>
                    <p>We collect Information necessary to administer the website. In the event of purchasing a product/service from us, we or third-party payment processors will collect your payment information. We do not collect information that identifies you specifically or could be used to specifically identify, locate or contact you, except as otherwise explained in here. However, we are not responsible if you provide your Personally Identifiable Information to those websites which you visit through the links provided, if any. Dishmize is the sole owner of information collected on this website. We will not share, sell, or trade this information to third parties in ways different from what is disclosed in these Terms and Policy.</p>

                    <p>We may collect, store the following kinds of data/information when you visit our website or use our product/services under Agreement. Information relating to any transactions carried out in relation to our services and/or visit to our website; Information that you provide to us including your email address for the purpose of subscribing to our website services, email notifications and/or newsletters; Information about the website link or Search Engine query used to arrive at this site.</p>

                    <h4 class="clr-blue mt-30"><strong> COOKIES </strong></h4>
                    <p>We use cookies on this website to provide you with a more personal and interactive experience with Dishmize products/services. We do not store Personally Identifiable Information in our cookies nor do we link the information in our cookies to our users’ Personally Identifiable Information.</p>

                    <p>Dishmize may gather information such as IP address, internal session ID, user’s domain, browser type, referring / exit pages and URLs, number of clicks, domain names, landing pages, pages viewed, and other such information. An “Internet protocol address” or “IP Address” is a number that is automatically assigned to your computer when you use the Internet. This statistical data does not identify any personal details whatsoever. It is used only to provide statistical information regarding the use of our website.</p>

                    <p>All computers have the ability to decline cookies. This can be done by activating the setting on your browser that enables you to decline the cookies. To use our services offered through the website, your web browser must accept Cookies. Dishmize will not rent or sell your personally identifiable information to others.</p>

                    <h4 class="clr-blue mt-30"><strong> DISCLOSING YOUR INFORMATION </strong></h4>
                    <p>The Sites may contain contests, sweepstakes or promotions, and other interactive features (collectively, “Interactive Services”) that allow users/Dishmizers to submit or transmit to other persons content or materials (collectively, “User Contributions”) on or through the Sites.</p>

                    <p>All User Contributions must comply with provisions and policy set out in these Terms of Use.</p>

                    <p>Any User Contribution will be considered non-confidential and non-proprietary. By providing any User Contribution to us, on the Sites or otherwise, you grant us and our affiliates and service providers, and each of their and our respective licensees, successors and assigns the right to use, reproduce, modify, perform, display, distribute and otherwise disclose to third parties any such material for any purpose.</p>

                    <p>You represent and warrant that:</p>

                    <ul class="ul-count">
                        <li>
                                You own or control all rights in and to the User Contributions and have the right to grant the license granted above to us and our affiliates and service providers, and each of their and our respective licensees, successors and assigns.
                        </li>
                        <li>
                                User Contributions do and will comply with these Terms of Use.
                        </li>
                    </ul>

                    <p>You understand and acknowledge that you are responsible for any User Contributions you submit or contribute, and you, not Dishmize, have full responsibility for such content, including its legality, reliability, accuracy and appropriateness.</p>

                    <p>We are not responsible, or liable to any third party, for the content or accuracy of any User Contributions submitted by you or any other user of the Sites.</p>

                    <h4 class="clr-blue mt-30"><strong> REGISTRATION INFORMATION </strong></h4>
                    <p>Dishmizers (a.k.a food innovators) are required to create a user account to access the platform and advertise and or publish their recipes, videos and related contents. They are expected to set up an account/profile to access, visit and/or use certain portions of the Service, or the Service as a whole, in which case you may be provided, or required to choose, a password and/or User ID, and you may provide a credit, debit, or charge card number, or other payment information, as well as your name, telephone number(s), email and/or street address, and other personally identifiable information. Other information such as your age, gender, an avatar, and the number for your mobile or other device may also be requested. All such information shall be referred to in the Agreement as your “Registration Information”. We may use and share your Registration Information as described in our Privacy Policy.</p>

                    <p>You agree, represent, warrant, and guarantee that all Registration Information provided by you is true, accurate, complete, up-to-date, and solely yours. You may not impersonate, imitate or pretend to be somebody else when registering and/or setting up an account/profile on the Service. If any of your Registration Information changes, you must update it promptly by using the mechanism or contact information on the Service that allows you to change or update your Registration Information, if available. If no such mechanism or contact information is available on the Service, please notify us via email provided below. WE SHALL HAVE NO LIABILITY ASSOCIATED WITH OR ARISING FROM YOUR FAILURE TO MAINTAIN ACCURATE, COMPLETE OR UP-TO-DATE REGISTRATION INFORMATION, INCLUDING WITHOUT LIMITATION YOUR FAILURE TO RECEIVE CRITICAL INFORMATION. WE SHALL NOT BE RESPONSIBLE FOR VERIFYING YOUR REGISTRATION INFORMATION.</p>

                    <p>We reserve the right at any time, with or without notice, to remove or require a change to or repossess any password and/or User ID that has been provided to you, any avatar you may be using or other Registration Information, or otherwise change the access means or methods for portions of the Service, the Service as a whole, or certain products and/or services.</p>

                    <p>You will be solely responsible for maintaining the confidentiality of your Registration Information. You may not authorize or permit anyone else to access and/or use your Registration Information, or access, visit and/or use the Service by use of your account/profile and/or Registration Information.</p>

                    <p>If you have reason to believe that your account/profile is no longer secure (for example, in the event of a loss, theft or unauthorized disclosure or use of your Registration Information), you must immediately change the affected Registration Information by using the mechanism or contact information on the Service, if available, and/or close the account/profile. If no such mechanism or contact information is available on the Service, please immediately notify us.</p>

                    <h4 class="clr-blue mt-30"><strong> FEES AND PAYMENTS </strong></h4>
                    <p>We charge 20% flat plus any applicable taxes for providing, advertising, and selling your Content to others for revenue and the remaining 80% would go to the Dishmizer/User. You agree to pay all fees and charges, including applicable taxes and surcharges, incurred for rending the services to the customers (such fees, charges, taxes, and surcharges shall collectively be referred to as “Fees”). Unless otherwise specified on the Service, all Fees will be quoted and charged in U.S. dollars. We and our licensors, vendors, and/or service providers reserve the right to change the amount of, or basis for determining, any Fees, and to institute new Fees, effective upon publication of such revised pricing on the Service.</p>

                    <p>Users would provide the preferred mode of receiving the payment (Direct bank account or PayPal, etc.) Users will bear the transfer fee if any.</p>

                    <p>Funds generated by each user/member would be released promptly and monthly or as soon as possible after deducting the applicable fees. You must notify us about any billing problems or discrepancy within thirty (30) days after they first appear on your statement/account.</p>

                    <p>Users/Dishmizers can generate additional income by selling the recipe to the customer/s and providing set by step process over the phone or video conferencing for the customers convenience and /or request. Same 20% plus taxes fee is applicable to the additional services rendered to the website customers by the Dishmizers.</p>

                    <h4 class="clr-blue mt-30"><strong> NO WARRANTIES </strong></h4>
                    <p>This website is provided “as is” without any warranties and representations, express or implied.  Dishmize makes no representations or warranties in relation to this website or the information and materials provided on this website. Without prejudice to the generality of the foregoing paragraph, Dishmize does not warrant that:

                    a) This website will be constantly available, or available at all; or 

                    b) The information on this website is complete, true, accurate or non-misleading. Although, we take all measures to keep it accurate, as possible. 

                    c) Nothing on this website constitutes, or is meant to constitute, advice of any kind.  If you require advice in relation to any services we offer, please contact us.

                    </p>



                    <h4 class="clr-blue mt-30"><strong> OTHER DISCLOSURES </strong></h4>
                    <p>In addition to the disclosures reasonably necessary for the purposes identified in this privacy policy, we may disclose information about you and you hereby consent to us sharing your Personal Information under the circumstances as such: (a) in connection with any legal proceedings or prospective legal proceedings; (b) to the extent that we are required to do so by law; (c) to assist fraud investigation, protection and minimize credit risk; (d) in order to establish, exercise or defend our legal rights (including providing information to others for the purposes of fraud prevention and reducing credit risk); and (e) to the purchaser (or prospective purchaser) of any business or asset which we are (or are contemplating) selling.</p>


                    <h4 class="clr-blue mt-30"><strong> OTHER WEBSITE LINKS </strong></h4>
                    <p>Dishmize may allow advertising services and other companies to serve advertisements within the Website. Advertising may be based on usage, text, demographic, or other information gathered by or on behalf of Dishmize. Dishmize’s Privacy Policy does not apply to, and we cannot control, the activities of advertisers. This Privacy Policy applies only to the Website operated by Dishmize, and not to any other websites to which we may link.</p>


                    <h4 class="clr-blue mt-30"><strong> LIMITATIONS OF LIABILITY </strong></h5> - Dishmize will not b4 liable to you in the event of:

                    <p> A) If, notwithstanding the other provisions of these Terms of Use, Dishmize is found to be liable to you for any damage or loss that arises out of or is in any way connected with your use of the Site or any content, Dishmize’s liability shall in no event exceed the value of the product or services at issue, or one hundred dollars ($100) in the aggregate, whichever is less.  Some jurisdictions do not allow limitations of liability, so the foregoing limitation may not apply to you. </p>

                    <p>B) Except where prohibited by law, Dishmize will not be liable to you for any indirect, consequential, exemplary, incidental or punitive damages, including lost profits, even if Dishmize has been advised of the possibility of such damages. </p>



                    <h4 class="clr-blue mt-30"><strong> REASONABLENESS </strong></h4>
                    <p>By using this website, you agree that the limitations of liability set out in this website disclaimer are reasonable. If you do not think they are reasonable, you must not use this website.</p>



                    <h4 class="clr-blue mt-30"><strong> POLICY AMENDMENTS </strong></h4>

                    <p>We reserve all rights to modify and update the privacy policy from time-to-time by posting a new version on our site. You should check this page regularly for any changes applicable to you. Changes to the policy – in particular as to permissible uses of personal data: personal information collected on one basis will not be used for a different purpose by changing the terms of the privacy policy, without duly informing you by posting an alert on this page. If you object to any such changes, you must cease using Dishmize. Continued use of Dishmize following notice of any such changes shall indicate your acknowledgement of such changes and agreement to be bound by the terms and conditions of such changes.</p>


                    <h4 class="clr-blue mt-30"><strong> BUSINESS TRANSITIONS </strong></h4>
                    <p>In the event that Dishmize goes through a business transition, such as a merger, acquisition by another company or the sale of a portion of its assets, Users’ personal information, in most instances will be part of the assets transferred. You acknowledge that such transfers may occur and are permitted by this Policy, and that any acquirer of ours or that acquirer’s assets may continue to process your Personal Information as set forth in this Privacy Policy.</p>


                    <h4 class="clr-blue mt-30"><strong> CONTACT </strong></h4>
                    <p>If you have any questions about this privacy policy or our treatment of your personal data, please send email to us at <a href="mailto:mail@Dishmize.net" target="_blank">mail@Dishmize.net</a></p>
                
                </div>
            </div><!-- End container -->
        </section><!-- End white_bg -->
        <!-- newslatter -->
        <div class="newslatter">
            <div class="container">
                <p>Stay Always Updated With us. Sign in with our newsletter</p>
                <div class="subcribe">
                    <input type="text" class="form-control" placeholder="Your Email">
                    <a class="fa fa-paper-plane" href="javascript:void(0);"></a>
                </div>
            </div>
        </div><!-- End newslatter -->
        <!-- Footer -->
        <footer>
            <% include ../partials/footer %>
        </footer><!-- End Footer -->
    </div><!-- End wrap Page -->
    <!-- go-up -->
    <div class="go-up"><i class="fa fa-chevron-up"></i></div>
    <!-- End go-up -->
    
    <!-- COMMON SCRIPTS -->
    <% include ../partials/scripts %>

</body>
</html>